{% extends 'base.html' %}

{% block navbar %}

    {% include 'navbar.html' %}

{% endblock navbar %}

{% block content %}

    <style>
        p{
            color: white;
        }
    </style>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.errors }}
        <button type = "submit">Submit</button>
        <!-- {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" id="msg" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %} -->
    </form>

{% endblock content %}